.title{
	color: #3b8eb5;
	float: left;
	font-size: 20px;
}

.title2{
	//color: #56c7fc;
	color: white;
	float: left;
	font-size: 20px;
}

.instruction{
	font-size: 12px;
	float: left;
	text-align:left;
}


.admin_etable{
	margin-top: 30px;
	font-size:15px;
	list-style: none;
	background-color: white;
}

.admin_etable tbody tr td a{
	font-size:15px;
	list-style: none;
	text-decoration: none;
}

.admin_nav{
	
}

.admin_nav ul{
	list-style: none;
	display: block;
	text-decoration: none;
}

.admin_nav ul li{
	list-style: none;
	display: inline;
}

.admin_nav ul li a{
	text-decoration: none;
}


.blue {
	width: 120px;
	float: left;	
	
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue a{
	color: white;
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}


