
.round{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 20px;
	//background-color: #e8e8e8;
}

.login{
	width: 340px;	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 20px;
	//background-color: #939393;
	
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');

}

.field input{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius: 5px;
	width: 250px;
	height: 20px;
	padding: 3px;
	
	font-size: 15px;
	color: #808080;
	font-family: sans-serif;
	text-indent: 10px;
}

.actions input{
	margin-top: 20px;
	border: solid;
	border-color: green;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	font-family: sans-serif;
	background: green;	
	color: white;
	font-size: 15px;
}

.actions input: hover{
	margin-top: 20px;
	border: solid;
	border-color: green;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	font-family: sans-serif;
	background: green;	
	color: white;
	font-size: 15px;
}


#items {
    position: relative;
    width: 926px;
    height: 609px;
    background-image: url('Backpack/Backround1.gif');
}

#header1 {
    position: absolute;
    left: 600px;
    top: 30px;
    z-index: 2;
    font-size: 30px;
    color: #000000;
}

#slot1 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 110px;
    top: 180px;
    z-index: 2;
}

#slot2 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 290px;
    top: 180px;
    z-index: 2;
}

#slot3 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 470px;
    top: 180px;
    z-index: 2;
}

#slot4 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 650px;
    top: 180px;
    z-index: 2;
}

#slot5 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 110px;
    top: 380px;
    z-index: 2;
}

#slot6 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 290px;
    top: 380px;
    z-index: 2;
}

#slot7 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 470px;
    top: 380px;
    z-index: 2;
}

#slot8 {
    position: absolute;
    background-image: url('Backpack/slot1.gif');
    width: 152px;
    height: 149px;
    left: 650px;
    top: 380px;
    z-index: 2;
}

#item1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item3 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item4 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item5 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item6 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

#item7 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    z-index: 4;
}

