.leaderboard_nav{
	border-radius:10px; 
	padding: 5px; 

	width:940px; 
	height:35px; 
	
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.rank{
	width:20px; 
	font-size:20px; 
	color:white; 
	text-align: center;
}


.leaderboard_nav ul{
	color: white;
	border-radius:15px;
	margin-top: 0;
	padding-top: 6px;
	padding-left: 0;
}

.leaderboard_nav ul li{
	display: inline;
	text-decoration: none;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 130px;
	height: 20px;
	padding: 5px;
	border-radius:5px;
	vertical-align: middle;
	margin: 5px;
	text-align: center;
	
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	text-transform: capitalize;
}

.leaderboard_nav ul li:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.leaderboard_nav ul li:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}




.leaderboard_nav ul li a{
	color: #606060;
	display: inline;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}



.tpage{
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: white;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 100%;
}

.resize_rarity tr td img{
	width: 85px;
	height: 100px;
}