#menu ul{
	color: #808080;
}

#menu ul li{
	width: 100px;
	font-size: 25px;
	font-family: sans-serif;
	list-style: none;
	color: black;
	display: inline;
}

#menu ul li a{
	text-decoration: none;
}

#menu ul li a:hover {
    display: block;
    padding-bottom: 10px;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#menu ul li a:active {
    text-decoration: none;
 	border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#menu ul li a:active {
    text-decoration: none;
 
}
