#menu ul{
	color: #56c7fc;
	overflow: hidden;
	display: inline;
}

#menu ul li{
	width: 100px;
	font-size: 25px;
	font-family: sans-serif;
	list-style: none;
	color: #56c7fc;
	display: inline;
}

#menu ul li a{
	color: #56c7fc;
	text-decoration: none;
	display: block;
}

#menu ul li a:hover {
    padding-bottom: 10px;
    border-bottom-color: #56c7fc;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#menu ul li a:active {
    text-decoration: none;
 	border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

