<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>

<script type="text/javascript">
var map;
var point;

function initialize() {
  console.log("Initializing..");
  // Create a map, center it
  map = new google.maps.Map(document.getElementById('map_canvas'),{ zoom: 2, mapTypeId: google.maps.MapTypeId.ROADMAP });
  map.setCenter(new google.maps.LatLng(0,0));
  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.CIRCLE,
    drawingControl: true,
    drawingControlOptions: {
    position: google.maps.ControlPosition.TOP_CENTER,
    drawingModes: [google.maps.drawing.OverlayType.CIRCLE]
    },
    circleOptions: {
    fillColor: '#ffff00',
    fillOpacity: 0.4,
    strokeWeight: 1,
    clickable: false,
    zIndex: 1,
    editable: false
    }
  });
  drawingManager.setMap(map);
  function densityToColor(i, r) {
  //  i = i + 1;
  //  var cvalue = Math.floor(Math.log(i/r)*20) + 20;
  //  if (cvalue > 255) cvalue = 255;
  //  if (cvalue < 0) cavalue = 0;
  //  return colorToHex('rgb('+ cvalue + ', ' + cvalue + ', ' + cvalue + ')');
    var color;
    eval($('#densityFunction').val());
    return color;
  }
  function metersToMiles(m) {
    return m * 0.000621371192;
  }
  google.maps.event.addListener(drawingManager, 'circlecomplete', function(circle) {
    var lat = circle.getCenter().Pa
    var lng = circle.getCenter().Qa
    var radius = metersToMiles(circle.getRadius())
    $.get('/api/demo/itemDensity', {latitude: lat, longitude: lng, distance: radius}, 
      function(data) {
        circle.fillColor = densityToColor(data.density, radius);
        circle.setMap(map);
        
          var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(lat,lng),
                  map: map,
                  title: "" + data.density + " items within " + radius + " miles"
                  });
          var infowindow = new google.maps.InfoWindow({
              content: "<b>" + data.density + "</b> items within <b>" + radius + "</b> miles"

            });
          google.maps.event.addListener(marker, 'click', function() { infowindow.open(map,marker); });
      });
  });
  // http://haacked.com/archive/2009/12/29/convert-rgb-to-hex.aspx
  function colorToHex(color) {
    if (color.substr(0, 1) === '#') {
      return color;
    }
    var digits = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.exec(color);

    var red = parseInt(digits[2]);
    var green = parseInt(digits[3]);
    var blue = parseInt(digits[4]);

    var rgb = blue | (green << 8) | (red << 16);
    return digits[1] + '#' + rgb.toString(16);
  };
}


google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div style="width:600px; height:600px;"> 
<div id="map_canvas" style="width:100%; height:100%"></div> 
<textarea id="densityFunction">
i = i + 1;
var cvalue = Math.floor(Math.log(i/r)*20) + 20;
if (cvalue > 255) cvalue = 255;
if (cvalue < 0) cavalue = 0;
color = colorToHex('rgb('+ cvalue + ', ' + cvalue + ', ' + cvalue + ')');
</textarea>
</div> 

