<h1>Leaderboard</h1>
<div class="leaderboard_nav">
	<ul>
		<li>
			<a href="index.html">Traveled Farthest</a>
		</li>
		<li>
			<a href="index.html">Most Hops</a>
		</li>
		<li>
			<a href="index.html">lalala</a>
		</li>
	</ul>
</div>
<br>
<div class="leaderboard">
		<div class="title2">World Leaderboard</div>
		<br><br>
			<div>
				<div style="width:100%">
					<table style=" background:gray;">
					
					
					
					<tr style="background:gray">
					<th style="text-align:center; width:100px">
						Rank
					</th>
					<th>
						Item
					</th>
					<th>
						Rarity
					</th>
					<th style="text-align:left">
						Item Description
					</th>
					</tr>
					
					
					<tr>
					<td style="width:20px; font-size:20px; color:white; text-align: center;">
						1
					</td>
					<td align="center" style="width:100px; margin-right:-100px; text-align:center;">
						<%= image_tag "logo_64.png", :alt => 'logo' =%>
					</td>
					<td align="center" style="width:100px; margin-right:-100px; text-align:center;">
						<%= image_tag "logo_64.png", :alt => 'logo' =%>
					</td>
					<td>
						Item Name: Serendipity Logo<br>
						Pickup date: 01/01/2011<br>
						Drop date: 01/01/2011<br>
						Rarity: 1<br>
						Hops: <br>		
						Distance Traveled: <br>		
					</td>
					</tr>
					<tr><br></tr>
					
					
					
					
				
					
					</table>
				</div>
			</div>
		<br><br>
</div>

<div class="white">
<%= link_to 'Users', :leaderboards_users_path %>
<%= link_to 'Items', :leaderboards_items_path %>
</div>

