<h1>Leaderboards - Items</h1>

Top Locations
<table>
  <tr>
    <th>Item ID</th>
    <th>Running Distance</th>
    <th></th>
  </tr>

<% @TopLocations.each do |item| %>
  <tr>
    <td><%= item.runningdistance %></td>
    <td><%= item.item_distance %></td>
  </tr>
<% end %>
</table>
<br/>
