<h1>Leaderboards - Items</h1>

Top Drops
<table>
  <tr>
    <th>Item ID</th>
    <th>Drops</th>
    <th></th>
  </tr>

<% @top_items.each do |item| %>
  <tr>
    <td><%= item.item_id %></td>
    <td><%= item.item_count %></td>
  </tr>
<% end %>
</table>
<br/>



