/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body { 
	background-color: #000; 
	color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	background-image: url('bkgrnd1.png');
	font-size: 12px;
	text-align: center;
	padding: 10px;
}