<div id="footer">
  <div class="spacerb"></div>
<div class="spacerb"></div>
<div class="spacerb"></div>
	<p>Copyright (c) 2011 IPRO 369. All rights reserved.</p>
</div>

<div style="text-align: center;">
  <%= debug(params) if Rails.env.development? %>
</div>