<div id="header">
  <div id="menu">
    <ul>
      <li class="current_page_item first"><span><a href="#">Home</a></span></li>
      <li><a href="http://severe-samurai.heroku.com/users">USERS</a></li>
      <li><a href="http://severe-samurai.heroku.com/items">ITEMS</a></li>
      <li><a href="http://severe-samurai.heroku.com/item_histories">ITEM HISTORIES</a></li>
      <li><a href="http://severe-samurai.heroku.com/backpack">BACKPACK</a></li>
      <li><a href="http://severe-samurai.heroku.com/leaderboards">LEADERBOARDS</a></li>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>